@import "tailwindcss";

:root {
  background-color: #f1f5f9;
  color-scheme: light;
}

/* إخفاء السكرول بار وتنسيق الجسم */
body {
  background-color: var(--bg-main);
  color: var(--text-main);
  transition: all 0.3s ease;
  
  /* إخفاء السكرول بار */
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
}

/* إخفاء السكرول بار لـ Chrome و Safari */
body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}