@import "tailwindcss";

:root {
  background-color: #f1f5f9;
  color-scheme: light;
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  transition: all 0.3s ease;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}